<!doctype html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>7bits-frontend-2017</title>
    <link href=../styles/style.css rel=stylesheet>
  </head>


  <body>
    <main class="main">
      <button id="1" class="button" onclick="clickOnButton('1')"></button>
      <button id="2" class="button" onclick="clickOnButton('2')"></button>
      <button id="3" class="button" onclick="clickOnButton('3')"></button>
      <button id="4" class="button" onclick="clickOnButton('4')"></button>
    </main>
    <script src=../scripts/scripts.js></script>
  </body>

</html>

